@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
* {
    font-family: 'Droid Arabic Naskh', serif;
}

body {
    margin-top:50px;
    text-align: center;
}

.main {
    max-width: 600px;
    margin: 0 auto;
}

h2 {
    color:#1383EA;
}

p {
    font-size: 14px;
    margin-bottom: 80px;
    
}

a{
    color: #16A765;
    text-decoration: none;
}

.logout {
}
.delete {
    color: #ffffff;
    border-radius: 2px;
    padding:3px;
    background-color: #DD4B39;
    font-size: 10px;
}

.logo {
    width: 20px;
    margin-bottom:-30px;
}

h3{
    font-size: 22px;
    color: #1383EA;
    margin-bottom:50px;
}

h4{
    font-size: 22px;
    text-align: right;
    color: #1383EA;
    border-bottom: 1px solid #1383EA;
    width: 130px;
    margin-top:55px;
}

.back_to_home {
    font-size: 12px;
    color: #666;
    text-decoration: underline;
}

hr {
    width: 400px;
    color: #666;
}

.input {
    width: 500px;
}

.flash {
    margin-bottom: 5px;
    font-size: 12px;
    color: #d89516;
    padding: 3px;
    background: #F9EDBE;
}
